@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-cream: #fff7ef;
  --skin: #e1d3c8;
  --orange: #ea513f;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.125rem;
  min-width: 320px;
  background-color: var(--bg-cream);
}
/* ----------------------FONTS------------------------- */
.font-cheaps {
  font-family: var(--font-cheaps);
}
.font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Responsive font sizes */
/* Range 90, 70, 60, 55, 46, 24, 20, 18, 14 */

.font-110 {
  font-size: 110px;
}
.font-55 {
  font-size: clamp(2.5rem, 2.3485rem + 0.7576vw, 3.4375rem);
  line-height: 1;
}
.font-46 {
  font-size: clamp(1.875rem, 1.7011rem + 0.8696vw, 2.875rem);
}
.font-30 {
  font-size: 1.875rem;
  line-height: 0.9;
}
.hero-font {
  font-size: clamp(4.375rem, 1.7487rem + 10.1313vw, 16.625rem);
  line-height: 1;
  letter-spacing: 0.1px;
}
@media (min-width: 768px) {
  .hero-font {
    line-height: 0.8;
    letter-spacing: -2px;
  }
}

.c_pad {
  padding-inline: 1rem;
}
@media (min-width: 768px) {
  .c_pad {
    padding-inline: 3.4375rem;
  }
}

.btn-red {
  color: var(--orange);
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  text-underline-offset: 0.18em;
}
